  *{
    margin: 0;
    padding: 10px;
  }
  body{
    background-image: url('./image/Design.svg');
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .big{
    display: flex;
    justify-content: space-between;
  }
  .logo {
     color: rgba(84, 189, 149, 1);background-color: transparent;
     font-family: Inter;
     font-weight: 60px;
     font-size: 50px;
     line-height: 30px;
     letter-spacing: 0%;
    }
  .small{
      display:flex;
      gap: 20px;
      justify-content: flex-end;
    }
    nav {
      display:flex;
      gap: 15px;
      justify-content: center;
      font-family: Inter;
      font-weight: 50px;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;

    }
    nav a.active {
      font-family: Inter;
      font-weight: 50px;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;

    }
    .actions {
      display: flex;
      gap: 25px;
      justify-content: flex-end;
      width: 100;
      height: 40;
      border-radius: 10px;
    }

    .actions button {
      font-family: Inter;
      font-weight: 50px;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;

    }

    .clk-login {
      background: transparent;
      color: #333;
    }

    .clk-signup {
      background-color: #44b887;
      color: #F8F8FA;
    }
    .contain{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

    }
    .box{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #box1{
      margin: 0;
      width: 600px;
      height: 100px;
      font-family: Inter;
      font-weight: 700;
      font-size: 100px;
      line-height: 90px;
      letter-spacing: 0%;
    }
    .curved-line{
  width: 500px;position: relative;top:80px;
  height: 50px;
  border-top: 6px solid #4CBBA3; 
  border-radius: 100%/100%;
  background: transparent;
    }
    .box2{
      width: 410;
      height: 526;
      border-radius: 10px;
    }
    .par{
      width: 461px;
      height: 90px;position:relative;top: -40px;left:20px;
    }
    .par1{
      font-family: Inter;
      font-weight: 550;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0%;
    }
    .contain2{
      width: 1200px;
      height: 150px;
      background: transparent;position: relative;left: 10rem;
      align-items: center;

    }
    .collab{
      font-family: Inter;
      font-weight: 450;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

    }
    .faded{
      display: flex;
      justify-content: center;
      font-family: Inter;
      font-weight: 450;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      color: rgba(166, 166, 166, 1);
    }
    .feature{
border-radius: 70px;
display: flex;
justify-content: space-between;
align-items: center;
    }
    .feature1 h2{
      font-family: Inter;
font-weight: 600;
font-size: 50px;
line-height: 100%;
letter-spacing: 0%;
    }
    .feature p{
      font-family: Inter;
font-weight: 500;
font-size: 18px;
line-height: 20px;
    }
    .feature button{
     width: 162;
     height: 66;
     border-radius: 70px;
     background: #54BD95;
    }
    .features {
      display: flex;
      justify-content: space-evenly;
    }

    .features1 {
      width: 364;
      height: 570;
      border-radius: 20px;
      text-align: start;
    }

    .features1 img {
      width: 364;
      height: 430;
      border-radius: 20px;

    }

    .features1 h3 {
      width: 282;
      height: 30;
      font-family: Inter;
      font-weight: 600;
      font-size: 30px;
      line-height: 30px;
    }

    .features1 p {
      width: 340;
      height: 60;
      font-family: Inter;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }

    .bene {
      display: flex;
      justify-content: space-between;
    }
    .bene1{
      width: 471;
      height: 452;
    }
    .bene1 h2 {

    }

    .bene1 ul {

    }

    .trns {
     
    }

    .trns img {
    }